*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(180, 177, 174);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    color: #333;
}

h1 {
    text-align: center;
    color: rgb(16, 13, 19);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    background-color: rgb(204, 132, 55);
    margin: 50px 100px;
}

.form-1 {
    padding: 5px;
    text-align: center;
    margin: 50px 120px;
    color: whitesmoke;
    font-size: larger;
    background-color: rgb(73, 36, 167);
    
}

.btn-1 {
    padding: 15px 15px;
    border-radius: 15px;
    border-color: antiquewhite;
    background-color: rgb(62, 218, 218);
    padding: 10px 25px;
    
}